html,
body {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 350px;
}

.container img {
  border-radius: 1000px;
}

h2 {
  color: #CDCFD9;
}

h3 {
  color: #303F9F;
}

.twitter {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.github {
  color: orange;
  cursor: pointer;
  text-decoration: none;
}

.linkedin {
  color: navy;
  cursor: pointer;
  text-decoration: none;
}
.medium {
  color: green;
  cursor: pointer;
  text-decoration: none;
}
.email {
  color: red;
  cursor: pointer;
  text-decoration: none;
}
